* {
  margin: 0;
  padding: 0;
  outline: none;
}
.all_contents {
  width: 1920px;
}
a {
  text-decoration: none;
}
.header {
  margin: 0 auto;
  width: 1108px;
  align-items: center;
  display: flex;
  margin-top: 45px;
  padding-top: 6px;
  padding-bottom: 7px;
  /* justify-content: space-between; */
}
.content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1408px;
  margin-top: 96px;
}
.title {
  margin-bottom: 17px;
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text {
  margin-bottom: 37px;
  color: #888;
  font-family: Gilroy-Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.buttons {
  display: flex;
  margin-bottom: 259px;
}
.button_start {
  display: grid;
  align-content: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  margin-right: 72px;
  color: #fff;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
}
.button_watch {
  display: grid;
  align-content: center;
  color: #aaa;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.logos {
  display: flex;
  margin: 0 auto;

  justify-content: space-between;

  width: 1108px;
  padding-top: 97px;
  padding-bottom: 96px;
}
.home {
  color: #f25822;
  font-family: Gilroy-SemiBold;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.abot_us {
  color: #000;
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text_in_logo_grow {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5px 0px 5px 14px;
}
.text_in_logo_be {
  color: #f25822;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5px 500px 5px 0px;
}
.left_logo {
  padding: 40px 0px 84px 375 px;
}
.left {
  display: flex;
  justify-content: space-between;
}
.right {
  width: 533px;
  height: 17px;
  flex-shrink: 0;
  display: flex;
  /* align-items: stretch; */
  justify-content: space-between;
}
.content {
  width: 1108px;
  margin-top: 89px;
  display: flex;
  /* justify-content: space-between; */
  gap: 41px;
  /* align-items: center; */
}
.right_content {
  /* margin-top: 95px; */
  display: flex;
  width: 544.814px;
  height: 374.843px;
  /* flex-shrink: 0; */
  /* align-items: flex-start; */
  /* justify-content: flex-end; */
}
.left_content {
  display: flex;
  width: 522px;
  height: 375px;
  /* padding-right: 39px; */
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.left_content,
.right_content {
  width: 120%;
}
.next_page {
  width: 1920px;
  /* padding: 100px 401px 100px 404px; */
  /* margin-bottom: 100px; */
}
.heading {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 17px;
  padding-left: 29px;
}
.items {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 60px;
  justify-content: center;
}
.image_item {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  margin-bottom: 25px;
  padding-left: 30px;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 370px;
  height: 291px;
  flex-shrink: 0;
}
.text_item {
  color: #666;
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
  margin-bottom: 25px;
  padding-left: 29px;
  padding-right: 31px;
}
.read_more {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 16.5px */
  padding-left: 29px;
}
.item_white {
  background: #fff;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
.why_choose {
  /* width: 1920px;
  height: 919px; */
  flex-shrink: 0;
  background: #fafafa;
  margin-top: 100px;
  padding-top: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.items_choose {
  display: grid;
  grid-template-columns: repeat(3, 385px);
  justify-content: center;
  gap: 30px;
}
.choose_title {
  /* margin-top: 92px; */
  margin-bottom: 19px;
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.choose_text {
  color: #666;
  text-align: center;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-bottom: 54px;
  margin-left: 619px;
  margin-right: 619px;
  
}
.item_choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 370px;
  height: 549px;
  flex-shrink: 0;
  background: #fff;
  margin-bottom: 100px;
}
.item_hightlight {
  background: #fff;
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}
.reason {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 83px;
  margin-right: 83px;
  margin-bottom: 22px;
}
.choose_text_item {
  width: 310px;
  height: 63px;
  flex-shrink: 0;
  color: #aaa;
  text-align: center;
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 39px;
}
.learn_more {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  width: 140px;
  height: 50px;
  margin-right: 72px;
  color: #fff;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  margin-left: 100px;
  margin-right: 120px;
  margin-bottom: 50px;
  /* color: #fff; */
  /*text-align: center;
  font-family: Gilroy-Bold;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 19.5px */
}
.svg_icon {

  display: flex;

  margin: 21px 26px 21px 4px;
}
