img {
    max-width: 100%;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Lato", sans-serif;
    font-family: 'Roboto';
}