.header {
    display: flex;
    justify-content: space-between;
  
    min-width: 75px;
  
    fill: #222;
    color: #222222;
    background-color: #222222;
  }
  .left_header {
    display: flex;
    align-items: center;
    gap: 41px;
  }
  .logo {
    margin-top: 18px;
    margin-bottom: 19px;
    width: 44px;
    height: 38px;
    flex-shrink: 0;
  }
  .search:hover svg path{
    fill: #F16D7F;
  }
  
  .button_menu {
    display: flex;
    align-items: center;
    gap: 33px;
  
  }