.header {
  display: flex;
  justify-content: space-between;
  min-width: 75px;
  fill: #222;
  color: #222222;
  background-color: #222222;
}

.left_header {
  display: flex;
  align-items: center;
  gap: 41px;
}

.logo {
  margin-top: 18px;
  margin-bottom: 19px;
  width: 44px;
  height: 38px;
  flex-shrink: 0;
}

.search:hover svg path {
  fill: #F16D7F;
}

.button_menu {
  display: flex;
  align-items: center;
  gap: 33px;
}

.footer_site {
  background-color: #222224;
  display: flex;
  justify-content: space-between;
}

.text_in_footer {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}

.logos {
  margin-top: 24px;
  margin-bottom: 23px;
  gap: 8px;
  display: flex;
}

.link_social {
  width: 32px;
  height: 32px;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link_social:hover {
  background-color: #F16D7F;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.items {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
}

.item {
  position: relative;
}
.item:hover .image_item {
  filter: brightness(0.5);
}
.item:hover .div_for_item2 {
  filter: brightness(0.5);
}
.item:hover .product_add {
  display: flex;
}

.image_item {
  width: 100%;
}

.div_for_item2 {
  background-color: #f7e4e2;
  padding-top: 9px;
  padding-left: 108px;
  padding-right: 111px;
  padding-bottom: 11px;
}

.product_info {
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}

.name_item {
  color: #000;
  line-height: 16px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.item_info {
  color: #5d5d5d;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

.cost {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product_add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #fff;
  width: 139px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #ffffff;
}

.product_add:hover {
  box-shadow: 0 0 5px #fff;
}

.product_add:hover svg path {
  fill: #F16D7F;
}

.subscribe_and_review {
  position: relative;
  padding-top: 97px;
  padding-bottom: 126px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe_and_review::before {
  position: absolute;
  content: " ";
  background-image: url(image/background.jpg);
  opacity: 0.3;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
}

.review {
  display: flex;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  gap: 30px;
}

.text_review1 {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text_review2 {
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_subscribe {
  color: #222224;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}

.text_subscribe {
  color: #222224;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
  margin-bottom: 32px;
  text-align: center;
}

.form_subscribe {
  display: flex;
}

.input_mail {
  background-color: #e1e1e1;
  border: none;
  padding-left: 22px;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 50px 0 0 50px;
  width: 256px;
  height: 49px;
}

.button_subscribe {
  background-color: #f16d7f;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 7px 7px 6px 8px;
  border-radius: 0 50px 50px 0;
  width: 100px;
  height: 49px;
}

.heading__product {
  display: flex;
  justify-content: space-between;
  background-color: #F8F3F4;
}

.new_arrivals {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 59px;
  margin-bottom: 60px;
}

.heading__product_nav {
  margin-top: 65px;
  margin-bottom: 65px;
}

.nav__item {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.nav__item:not(:last-child)::after {
  content: " / ";
}

img {
  max-width: 100%;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Roboto";
}

.cart {
  padding: 96px 0px 128px;
  display: flex;
  gap: 128px;
  justify-content: center;
}
.cart__items {
  display: flex;
  flex-direction: column;
}
.cart__item {
  width: 652px;
  margin-bottom: 40px;
  display: flex;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
.cart__item__cross {
  position: absolute;
  margin-top: 28px;
  margin-right: 22px;
  margin-left: 319px;
}
.cart__item__cross:hover path {
  fill: #F16D7F;
}
.cart__item-name {
  color: #000;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 22px 125px 42px 0px;
  width: 194px;
}
.cart__about-item {
  padding-left: 31px;
  display: flex;
  flex-direction: column;
}
.cart__item-clause {
  margin-bottom: 6px;
  color: #6F6E6E;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart .cost-red {
  color: #F16D7F;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart .with-form {
  display: flex;
  gap: 24px;
}
.cart .form {
  width: 44px;
}
.cart__buttons {
  margin-top: 32px;
  display: flex;
  gap: 192px;
}
.cart__button {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 17px 40px 16px 40px;
  border: 1px solid #6F6E6E;
}
.cart__button:hover {
  background-color: #F16D7F;
  color: white;
}
.cart__payment-and-adress {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
}
.cart__payment-and-adress__title {
  color: #000;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 21px;
}
.cart__payment-and-adress__form {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 21px;
  width: 359px;
  height: 45px;
  border: 1px solid #6F6E6E;
  padding-left: 17px;
}
.cart__payment-and-adress__button {
  padding: 10px 14px 12px 16px;
  color: #000;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 1px solid #6F6E6E;
  width: 102px;
  margin-top: 2px;
}
.cart__payment-and-adress__button:hover {
  background-color: #F16D7F;
  color: white;
}
.cart__payment-and-adress__checkout {
  margin-top: 57px;
  padding: 39px 34px 42px 53px;
  background-color: #F5F3F3;
}
.cart__payment-and-adress__checkout__container-clause {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 17px;
  padding-bottom: 9px;
  border-bottom: 1px solid #E2E2E2;
}
.cart__payment-and-adress__checkout__container-clause__clause {
  color: #4A4A4A;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
  display: flex;
  gap: 26px;
}
.cart__payment-and-adress__checkout__button {
  color: #FFF;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 15px 43px 16px 41px;
  background-color: #F16D7F;
  transition: 0.3ms;
}
.cart__payment-and-adress__checkout__button:hover {
  background-color: white;
  color: #F16D7F;
  box-shadow: 3px 1px 6px rgba(241, 109, 127, 0.25);
  box-shadow: 0px 4px 4px rgba(241, 109, 127, 0.69);
}
.cart .grand {
  color: #222;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart .grand-red {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}/*# sourceMappingURL=style_for_cart.css.map */