@import 'header';
@import 'footer';
@import 'center';
@import 'items';
@import 'subscribe';
@import 'heading-product';
@import 'vars';
@import 'base';


.slide {
    height: 777px;
    position: relative;
    background: #F7F7F7;
    display: flex;
    justify-content: center;

}

.carousel-inner {
    display: flex;
    justify-content: center;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 600px;
    margin-right: 0;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}


.carousel-control-next-icon {
    background-image: url('data:image/svg+xml,<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg" ><path d="M9.2998 23.2499L17.0498 15.4999L9.2998 7.7499L10.8498 4.6499L21.6998 15.4999L10.8498 26.3499L9.2998 23.2499Z" fill="black" /></svg>');
    // background-color: #2A2A2A26;
    // margin: 20px;

}

.carousel-control-prev-icon {
    background-image: url('data:image/svg+xml,<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg" ><path d="M21.6998 7.7499L13.9498 15.4999L21.6998 23.2499L20.1498 26.3499L9.2998 15.4999L20.1498 4.6499L21.6998 7.7499Z" fill="black" /></svg>');
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #2A2A2A26;
    margin-top: 365px;
    opacity: 1;
    width: 47px;
    height: 47px;
}

.container_for_card {
    display: flex;
    justify-content: center;
}

.card__product {
    position: relative;
    background-color: white;
    margin-top: -65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1140px;
    // margin-left: 230px;
    // margin-right: 230px;
    border: 1px solid #EAEAEA;
    margin-bottom: 130px;

}

.women__collections {
    color: $color-pink;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 64px;
    margin-bottom: 12px;
    // border-bottom:3px 63px solid #EF5B70 ;
}

.hr-under-women {
    background: none;
    background-color: #EF5B70;
    height: 3px;
    width: 63px;
    opacity:1;
    border:0;
}

.name__product {
    color: #4D4D4D;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 49px;
}

.about__product {
    color: #5E5E5E;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 32px;

    width: 555px;
    height: 51.431px;

    // display: flex;
}

.cost_product {
    color: #EF5B70;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.hr-under-cost {
    height: 1px;
    width: 641px;
    background: none;
    background-color: #EAEAEA;
    margin-bottom: 65px;
}

.nav__setings {
    color: #6F6E6E;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    gap: 42px;
    justify-content: center;
    margin-bottom: 49px;
}

.nav__item__setings {
    position: relative;
}

.summary_setings {
    display: flex;
    // flex-direction: column;
    // align-items: center;
}

.summary_setings::after {
    margin-left: 9px;
    content: url(image-product/Vector.png);
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.setings-content {
    display: flex;
    flex-direction: column;
    border: 0.5px solid #6F6E6E;
}

.button__add {
    padding: 13px 43px;
    border: 1px solid #FF6A6A;
    margin-bottom: 65px;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 23px;
    transition-duration: .3s;
}

.button__add:hover {
    box-shadow: 0 0 5px #000000;
    transform: scale(102%);

}

.content {
    margin-bottom: 128px;
}